<!----------------------------
This View is for the Product
----------------------------->

@model IEnumerable<Lab3_S4675880.Models.ProductModel>

@{
    ViewData["Title"] = "Product Page";
}

<!-- Heading with css -->
<h1 class="display-4">Product List</h1>
<p>Listed below are the products and their details</p>

<!-- Button for Creating New Product -->
<p>
    <a asp-action="Create"><input type="button" value="Create New" class="btn btn-primary" /></a>
</p>

<!-- Table for Product List -->
<table class="table">
    <div class="table-inside">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStock)
            </th>
            <th></th>
        </tr>

    </thead>
    </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
